
.header-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(216, 164, 226);
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
    


}
.header a {
    text-decoration: none;
    margin-left: 15px;
    padding: 2px 10px;
    font-size: 20px;
    font-weight: 600;
    color: black;

}
.menu {
    text-decoration: none;
}

.header a:hover{
    background-color: rgb(237, 207, 243);;
    border-bottom: 2px solid gray;
    border-radius: 5px;
}