
.header-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    margin: 0 auto;
    padding: 10px 20px;


}
.header a {
    text-decoration: none;
    margin-left: 15px;
    padding: 2px 10px;
    font-size: 20px;
    font-weight: 600;

}
.header a:hover{
    background-color: aquamarine;
    border-bottom: 2px solid gray;
}